--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.12.0+cu113
torchvision==0.13.0
torchnet
tqdm
scikit-image
numpy
unet
matplotlib
pillow
ray[tune]
parsl
pandas
opencv-python
av
pycocotools
kornia
